@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@300;400;500;600;700;800;900&display=swap");

body{
    padding: 0;
    box-sizing: border-box;
    margin: 0;
    font-family: 'Montserrat', sans-serif;
    transition: .3 ease;
    align-items: center;
}
.header{
    padding: 30px;
    background: #011627;
    height: 55px;
}

.sideBar {
  width: 240px;
  background: #011627;
  position: fixed;
  top: 0;
  left: -240px;             /* fully hidden */
  height: 100vh;
  padding: 0;
  transition: left .3s ease;
  z-index: 1000;
  box-sizing: border-box;
}

.sideBar.action {
  left: 0;
}

.sideBar ul {
  padding: 16px;
  margin: 0;
}

.sideBar ul li {
  list-style: none;
  margin: 6px 0;
}

.sideBar ul li a {
  color: #eacefe;
  text-decoration: none;
  font-size: 16px;
  display: block;
  padding: 10px 15px;
  border-radius: 6px;
}
 .icon{
        font-size: 16px;
    }

.sideBar ul li a:hover,
.sideBar ul li a.active {
  background: #172b4b;
  gap: 1.5rem;
}
