.career {
  width: 100%;
}

/* Banner */
.career-banner {
  position: relative;
  width: 100%;
  height: 300px;
  background-size: cover;
  background-position: center;
  display: flex;
  align-items: center;
  justify-content: left;
}

.career-banner-overlay {
  background: rgba(0, 0, 0, 0.5); /* dark overlay */
  padding: 30px;
  border-radius: 8px;
  text-align: left;
  color: #fff;
}

.career-banner-overlay h1 {
  font-size: 2.5rem;
  margin-bottom: 10px;
}

.career-banner-overlay p {
  font-size: 1.2rem;
  color: #ddd;
}

/* Job Listings */
.job-listings {
  margin: 40px auto;
  padding: 20px;
}
