.loading-screen {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;

  &__spinner {
    width: 2rem;
    height: 2rem;
    border: 2px solid #4f46e5; // indigo-600
    border-top-color: transparent;
    border-radius: 50%;
    animation: spin 0.75s linear infinite;
  }
}

@keyframes spin {
  to {
    transform: rotate(360deg);
  }
}